server:
  port: 8082   # product-service đang 8081, để customer-service 8082 cho dễ phân biệt

spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=CustomerDb;encrypt=false;
    username: sa
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
