server:
  port: 8083

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=OrderDB;encrypt=false
    username: sa
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect
product:
  service:
    url: http://localhost:8081

payment:
  service:
    url: http://localhost:8086